.dogprofiles>div {
  border: 5px solid burlywood;
  background-color: cornsilk;
  border-radius: 45px;
  text-align: center;
  margin-bottom: 20px;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: cornsilk;
  display:block;
  position: fixed;
  height: 500px;
  width: 50px;
  border-radius:0px 10px 10px 0px;
  border: 5px solid burlywood;
  border-left:0px;
}

.dogprofiles h1 {
  text-align: left;
  margin-left: 50px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: sandybrown;
}

.dogprofiles